@font-face {
  font-family: "proxima-nova";
  src: url("/fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf");
}

/* ============================================= */
/*              Variables                    */
/* ============================================= */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.2fr 1.8fr;
      grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "nav" "main";
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Bebas Neue', cursive;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 40px;
  background-color: #07223F;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 26px;
  width: 198px;
}

.no-svg .logo {
  height: 26px;
  width: 198px;
  background-image: url(/vi/Logo.svg);
}

ul {
  font-family: 'proxima-nova', bold;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 10px;
  padding: 5px 8px;
  color: white;
}

#login {
  border: 1px solid #FF6200;
  background-color: #FF6200;
}

#login a {
  color: #ffffff;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.hero-text-title {
  margin-top: -100px;
  font-family: 'Bebas Neue', bold;
  font-size: 50px;
  color: #07223F;
  text-align: left;
  margin-left: 40px;
  line-height: 48px;
}

.hero-text-title-alt {
  color: #FF6200;
}

.message_us_img {
  float: right;
  height: 35px;
  width: 35px;
  margin-right: 40px;
}

.hero-text-body p {
  margin-top: 14px;
  margin-left: 39.5px;
  margin-right: 39.5px;
  font-family: "proxima-nova", regular;
  font-size: 14px;
  color: #818181;
  margin-bottom: 15px;
}

.hero-buttons,
button {
  margin-top: 50px;
  margin-left: 39.5px;
  margin-right: 39.5px;
  font-family: "proxima-nova", regular;
  font-size: 14px;
  display: inline;
}

.vape {
  height: 40px;
  width: 139px;
  background-color: #FF6200;
  border: none;
  border-radius: 12px;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-box-shadow: 0 2px 4px 0 #FF6200;
          box-shadow: 0 2px 4px 0 #FF6200;
}

.vape-alt {
  height: 40px;
  width: 139px;
  background-color: white;
  border: 2px solid #FF6200;
  border-radius: 12px;
  color: #FF6200;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.carousel-title {
  margin-top: 50px;
  height: 60px;
  width: 375px;
  opacity: 0.3;
  color: #CED3D2;
  font-family: "Bebas Neue";
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 0.36px;
  line-height: 55px;
  text-align: center;
  position: relative;
  z-index: -1;
}

.carousel-title-overlay {
  z-index: 2;
  height: 38px;
  width: 375px;
  margin-top: -60px;
  color: #07223F;
  font-family: "Bebas Neue";
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 0.15px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 50px;
}

.message_us_img-desktop {
  display: none;
}

.swiper {
  width: 334px;
  height: 450px;
}

.swiper-slide {
  background-position: center;
  width: 334px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 334px;
  height: 400px;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 100px !important;
          perspective: 100px !important;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: #07223F solid 2px;
  background-color: transparent;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #FF6200;
}

.desktop {
  display: none;
}

header nav {
  display: none;
}

#hamburger-icon {
  display: block;
}

.logo-desktop {
  display: none;
}

@media (min-width: 600px) {
  .logo {
    display: none;
  }
  .logo-desktop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 282px;
    height: 68px;
    z-index: 5;
  }
  .no-svg .logo-desktop {
    width: 282px;
    height: 68px;
    background-image: url(/vi/Logo-desktop.svg);
  }
  header {
    background-color: transparent;
    padding: 40px 40px 40px 40px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10%;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
  }
  ul {
    list-style: none;
    height: 100%;
    margin-top: 0;
    position: relative;
    top: 50%;
  }
  ul a {
    color: white;
  }
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  ul li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #hamburger-icon {
    display: none;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -80px;
    z-index: -10;
  }
  .hero-text-title {
    margin-top: -635px;
    font-family: 'Bebas Neue', bold;
    font-size: 86px;
    line-height: 72px;
    color: #07223F;
    text-align: left;
    margin-left: 40px;
  }
  .hero-text-body p {
    width: 548px;
    margin-top: 14px;
    margin-left: 39.5px;
    margin-right: 39.5px;
    font-family: "proxima-nova", regular;
    font-size: 20px;
    line-height: 24px;
    color: #818181;
    margin-bottom: 15px;
  }
  .vape {
    height: 40px;
    width: 207px;
    background-color: #FF6200;
    border: none;
    border-radius: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-box-shadow: 0 2px 4px 0 #FF6200;
            box-shadow: 0 2px 4px 0 #FF6200;
  }
  .vape-alt {
    height: 40px;
    width: 207px;
    background-color: white;
    border: 2px solid #FF6200;
    border-radius: 12px;
    color: #FF6200;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  .carousel-title {
    z-index: -1;
    margin-top: 200px;
    font-size: 200px;
    text-align: center;
    width: auto;
  }
  .carousel-title-overlay {
    font-size: 70px;
    text-align: center;
    width: auto;
  }
  .message_us_img {
    display: none;
  }
  .message_us_img-desktop {
    display: none;
  }
  .swiper {
    margin-top: 140px;
    width: 892px;
    height: 650px;
  }
  .swiper-slide {
    background-position: center;
    width: 892px;
    height: 552px;
  }
  .swiper-slide img {
    display: block;
    width: 892px;
    height: 552px;
  }
  .swiper-3d,
  .swiper-3d.swiper-css-mode .swiper-wrapper {
    -webkit-perspective: 100px !important;
            perspective: 100px !important;
  }
  .swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    border: #07223F solid 2px;
    background-color: transparent;
  }
  .swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #FF6200;
  }
  .carousel-title-overlay-message-us {
    z-index: 2;
    height: 38px;
    margin-top: -91px;
    color: #07223F;
    font-family: "Bebas Neue";
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=input.css.map */